$color-bg:      #eeeeee;
$color-text:    #222222;
$color-link:    #f000f0;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: $color-bg;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $color-text;
}

.App-link {
  color: $color-link;
}
